PORT=5001
DATABASE_URL=postgresql://postgres:[YOUR-DATABASE-PASSWORD]@db.sjgzjarvjiaryxlnsplg.supabase.co:5432/postgres
DATABASE_SSL=true
USE_MOCK_DATA=false
MOCK_AUTH=true
JWT_SECRET=your_jwt_secret_here
EMAIL_USER=your_email@kaist.ac.kr
EMAIL_PASS=your_email_password
